<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECC</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>ECC Encryption and Decryption</h2>
      <hr />
      <div class="arow">
        <div class="column">
          <div class="keys">
            <p>Generated Public/Private key</p>
            <div class="arow">
              <div class="acolumn">
                <div class="row">
                  <p>x =</p>
                  <textarea
                    name="public_key_x"
                    id="public_key_x"
                    cols="20"
                    rows="1"
                    placeholder="Public key x"
                    readonly
                  ></textarea>
                </div>
                <div class="row">
                  <p>y =</p>
                  <textarea
                    name="public_key_y"
                    id="public_key_y"
                    cols="20"
                    rows="1"
                    placeholder="Public key y"
                    readonly
                  ></textarea>
                </div>
              </div>
              <hr />
              <textarea
                name="private_key"
                id="private_key"
                cols="30"
                rows="5"
                placeholder="Generated private key will be visible here"
                readonly
              ></textarea>
            </div>
            <button id="generate_key">Generate</button>
          </div>
          <hr />
          <div class="arow">
            <div class="form enkrip">
              <h3>Encryption</h3>
              <p>Enter Plain text</p>
              <textarea
                name="plain"
                id="plain"
                cols="30"
                rows="5"
                placeholder="Enter plain text"
              ></textarea>
              <button id="encrypt">Encrypt</button>
            </div>
            <hr />
            <div class="form dekrip">
              <h3>Decryption</h3>
              <p>Enter Encrypted text</p>
              <textarea
                name="encrypted"
                id="encrypted"
                cols="30"
                rows="5"
                placeholder="Enter encrpyted text"
              ></textarea>
              <button id="decrypt">Decrypt</button>
            </div>
          </div>
        </div>
        <hr />
        <div class="acolumn">
          <p>Output</p>
          <textarea
            name="res"
            id="res"
            cols="40"
            rows="16"
            placeholder="Output text will be visible here"
            readonly
          ></textarea>
          <button id="copy">Copy</button>
        </div>
      </div>
      <hr />
      <div class="p-5">
        <div class="row">
          <a href="/">RSA</a>
          <a href="/ecc">ECC</a>
          <a href="/ntru">NTRU</a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      // Untuk copy isi textarea
      const copyBtn = document.getElementById("copy");
      copyBtn.addEventListener("click", async function () {
        const resultTextArea = document.getElementById("res");
        resultTextArea.select();
        resultTextArea.setSelectionRange(0, 99999);

        navigator.clipboard.writeText(resultTextArea.value);
      });

      // Untuk generate public dan private key
      const generateKeyBtn = document.getElementById("generate_key");
      generateKeyBtn.addEventListener("click", async function () {
        try {
          const res = await axios.post("/ecc/generate-key");
          if (res.status == 200) {
            console.log(res.data)
            const privateKeyTextArea = document.getElementById("private_key");
            privateKeyTextArea.innerHTML = res.data.private_key;

            const publicKeyXTextArea = document.getElementById("public_key_x");
            publicKeyXTextArea.innerHTML = res.data.public_key.x;

            const publicKeyYTextArea = document.getElementById("public_key_y");
            publicKeyYTextArea.innerHTML = res.data.public_key.y;
          }
        } catch (e) {
          alert(e);
        }
      });

      // Untuk encrypt
      const encryptBtn = document.getElementById("encrypt");
      encryptBtn.addEventListener("click", async function () {
        try {
          const publicKeyXTextArea = document.getElementById("public_key_x");
          const publicKeyYTextArea = document.getElementById("public_key_y");
          const plainTextArea = document.getElementById("plain");
          console.log(plainTextArea.value);
          const res = await axios.post("/ecc/encrypt", {
            n: publicKeyXTextArea.innerHTML,
            e: publicKeyYTextArea.innerHTML,
            plain: plainTextArea.value,
          });
          if (res.status == 200) {
            const resultTextArea = document.getElementById("res");
            resultTextArea.innerHTML = res.data.encrypted.join(" ");
          }
        } catch (e) {
          alert(e);
        }
      });

      // Untuk decrypt
      const decryptBtn = document.getElementById("decrypt");
      decryptBtn.addEventListener("click", async function () {
        try {
          const publicKeyXTextArea = document.getElementById("public_key_x");
          const publicKeyYTextArea = document.getElementById("public_key_y");
          const privateKeyTextArea = document.getElementById("private_key");
          const encryptedTextArea = document.getElementById("encrypted");
          console.log(encryptedTextArea.value);
          const res = await axios.post("/ecc/decrypt", {
            n: publicKeyXTextArea.innerHTML,
            e: publicKeyYTextArea.innerHTML,
            private_key: privateKeyTextArea.innerHTML,
            encrypted: encryptedTextArea.value,
          });
          if (res.status == 200) {
            const resultTextArea = document.getElementById("res");
            resultTextArea.innerHTML = res.data.decrypted.join("");
          }
        } catch (e) {
          alert(e);
        }
      });
    </script>
  </body>
</html>
