<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NTRU</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>NTRU</h2>
      <hr />
      <div class="arow">
        <div class="column">
          <div class="keys">
            <p>Generated Public/Private key</p>
            <div class="acolumn">
              <div class="arow">
                <div class="acolumn">
                  <div class="row">
                    <p>n =</p>
                    <textarea
                      name="public_key_n"
                      id="public_key_n"
                      cols="20"
                      rows="1"
                      placeholder="Public key n"
                      readonly
                    ></textarea>
                  </div>
                  <div class="row">
                    <p>p =</p>
                    <textarea
                      name="public_key_p"
                      id="public_key_p"
                      cols="20"
                      rows="1"
                      placeholder="Public key p"
                      readonly
                    ></textarea>
                  </div>
                  <div class="row">
                    <p>q =</p>
                    <textarea
                      name="public_key_q"
                      id="public_key_q"
                      cols="20"
                      rows="1"
                      placeholder="Public key q"
                      readonly
                    ></textarea>
                  </div>
                </div>
                <hr />
                <div class="acolumn">
                  <div class="row">
                    <p>f(x) =</p>
                    <textarea
                      name="poli_f"
                      id="poli_f"
                      cols="20"
                      rows="1"
                      placeholder="Polinomial f(x)"
                      readonly
                    ></textarea>
                  </div>
                  <div class="row">
                    <p>g(x) =</p>
                    <textarea
                      name="poli_g"
                      id="poli_g"
                      cols="20"
                      rows="1"
                      placeholder="Polinomial g(x)"
                      readonly
                    ></textarea>
                  </div>
                </div>
              </div>
              <textarea
                name="public_key"
                id="public_key"
                cols="20"
                rows="1"
                placeholder="Public key"
                readonly
              ></textarea>
              <button id="generate_key">Generate</button>
            </div>
          </div>
          <hr />
          <div class="arow">
            <div class="form enkrip">
              <h3>Encryption</h3>
              <p>Enter Plain text</p>
              <textarea
                name="plain"
                id="plain"
                cols="30"
                rows="5"
                placeholder="Enter plain text"
              ></textarea>
              <button id="encrypt">Encrypt</button>
            </div>
            <hr />
            <div class="form dekrip">
              <h3>Decryption</h3>
              <p>Enter Encrypted text</p>
              <textarea
                name="encrypted"
                id="encrypted"
                cols="30"
                rows="5"
                placeholder="Enter encrpyted text"
              ></textarea>
              <button id="decrypt">Decrypt</button>
            </div>
          </div>
        </div>
        <hr />
        <div class="acolumn">
          <p>Output</p>
          <textarea
            name="res"
            id="res"
            cols="40"
            rows="16"
            placeholder="Output text will be visible here"
            readonly
          ></textarea>
          <button id="copy">Copy</button>
        </div>
      </div>
      <hr />
      <div class="p-5">
        <div class="row">
          <a href="/">RSA</a>
          <a href="/ecc">ECC</a>
          <a href="/ntru">NTRU</a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      // Untuk copy isi textarea
      const copyBtn = document.getElementById("copy");
      copyBtn.addEventListener("click", async function () {
        const resultTextArea = document.getElementById("res");
        resultTextArea.select();
        resultTextArea.setSelectionRange(0, 99999);

        navigator.clipboard.writeText(resultTextArea.value);
      });

      // Untuk generate public dan private key
      const generateKeyBtn = document.getElementById("generate_key");
      generateKeyBtn.addEventListener("click", async function () {
        try {
          const res = await axios.post("/ntru/generate-key");
          if (res.status == 200) {
            const publicKeyTextArea = document.getElementById("public_key");
            publicKeyTextArea.innerHTML = res.data.public_key.key;

            const publicKeyNTextArea = document.getElementById("public_key_n");
            publicKeyNTextArea.innerHTML = res.data.public_key.n;

            const publicKeyPTextArea = document.getElementById("public_key_p");
            publicKeyPTextArea.innerHTML = res.data.public_key.p;

            const publicKeyQTextArea = document.getElementById("public_key_q");
            publicKeyQTextArea.innerHTML = res.data.public_key.q;

            const poliFTextArea = document.getElementById("poli_f");
            poliFTextArea.innerHTML = res.data.poli.f;

            const poliGTextArea = document.getElementById("poli_g");
            poliGTextArea.innerHTML = res.data.poli.g;
          }
        } catch (e) {
          alert(e);
        }
      });

      // Untuk encrypt
      const encryptBtn = document.getElementById("encrypt");
      encryptBtn.addEventListener("click", async function () {
        try {
          const publicKeyTextArea = document.getElementById("public_key");
          const publicKeyNTextArea = document.getElementById("public_key_n");
          const publicKeyPTextArea = document.getElementById("public_key_p");
          const publicKeyQTextArea = document.getElementById("public_key_q");
          const poliFTextArea = document.getElementById("poli_f");
          const poliGTextArea = document.getElementById("poli_g");
          const plainTextArea = document.getElementById("plain");
          console.log(plainTextArea.value);
          const res = await axios.post("/ntru/encrypt", {
            n: publicKeyNTextArea.innerHTML,
            p: publicKeyPTextArea.innerHTML,
            q: publicKeyQTextArea.innerHTML,
            key: publicKeyTextArea.innerHTML,
            poli_f: poliFTextArea.innerHTML,
            poli_g: poliGTextArea.innerHTML,
            plain: plainTextArea.value,
          });
          if (res.status == 200) {
            const resultTextArea = document.getElementById("res");
            resultTextArea.innerHTML = res.data.encrypted;
          }
        } catch (e) {
          alert(e);
        }
      });

      // Untuk decrypt
      const decryptBtn = document.getElementById("decrypt");
      decryptBtn.addEventListener("click", async function () {
        try {
          const publicKeyTextArea = document.getElementById("public_key");
          const publicKeyNTextArea = document.getElementById("public_key_n");
          const publicKeyPTextArea = document.getElementById("public_key_p");
          const publicKeyQTextArea = document.getElementById("public_key_q");
          const poliFTextArea = document.getElementById("poli_f");
          const poliGTextArea = document.getElementById("poli_g");
          const plainTextArea = document.getElementById("plain");
          console.log(plainTextArea.value);
          const res = await axios.post("/ntru/decrypt", {
            n: publicKeyNTextArea.innerHTML,
            p: publicKeyPTextArea.innerHTML,
            q: publicKeyQTextArea.innerHTML,
            key: publicKeyTextArea.innerHTML,
            poli_f: poliFTextArea.innerHTML,
            poli_g: poliGTextArea.innerHTML,
            plain: plainTextArea.value,
          });
          if (res.status == 200) {
            const resultTextArea = document.getElementById("res");
            resultTextArea.innerHTML = res.data.decrypted;
          }
        } catch (e) {
          alert("Key has not been generated");
        }
      });
    </script>
  </body>
</html>
